<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Админ - Scoreboard</title>
</head>
<body>
<h1>Управление матчами</h1>
<div th:each="match : ${matches}">
    <h2>
        <span th:if="${match.isShowHomeAway}">Хозяева поля:</span> <span th:text="${match.homeTeam.teamName}"></span>
        <span th:if="${match.isShowHomeAway}">На выезде:</span> <span th:text="${match.awayTeam.teamName}"></span>
    </h2>
    <h3 th:text="'Счет: ' + ${match.homeScore} + ' : ' + ${match.awayScore}"></h3>
    <p th:text="'Время матча: ' + ${match.matchTime}"></p>
    <form th:action="@{/matches/update}" method="post" th:object="${match}">
        <input type="hidden" th:field="*{matchId}" />
        <input type="number" th:field="*{homeScore}" />
        <input type="number" th:field="*{awayScore}" />
        <button type="submit">Обновить результат</button>
    </form>
    <form th:action="@{/matches/delete(id=${match.matchId})}" method="post">
        <button type="submit">Удалить матч</button>
    </form>
</div>

<h2>Добавить новый матч</h2>
<form action="#" th:action="@{/matches/add}" method="post" th:object="${newMatchDTO}">
    <label for="homeTeam">Хозяин:</label>
    <select id="homeTeam" th:field="*{homeTeamId}"> <!-- Используем homeTeamId -->
        <option th:each="team : ${teams}" th:value="${team.id}" th:text="${team.teamName}"></option>
    </select>
    <label for="awayTeam">Гость:</label>
    <select id="awayTeam" th:field="*{awayTeamId}"> <!-- Используем awayTeamId -->
        <option th:each="team : ${teams}" th:value="${team.id}" th:text="${team.teamName}"></option>
    </select>
    <input type="number" th:field="*{homeScore}" placeholder="Счет хозяев" value="0" />
    <input type="number" th:field="*{awayScore}" placeholder="Счет гостей" value="0" />
    <label>
        <input type="checkbox" th:field="*{isShowHomeAway}"/> Показать команды "дома" и "на выезде"
    </label>
    <button type="submit">Добавить матч</button>
</form>

<h2>Добавить новую команду</h2>
<form action="#" th:action="@{/teams/add}" method="post">
    <label for="teamName">Название команды:</label>
    <input type="text" id="teamName" name="teamName" />
    <button type="submit">Добавить команду</button>
</form>
</body>
</html>